 <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="http://insitedf.com/blog/index.html">
                <img src="http://insitedf.com/blog/images/logohori.png" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Fechar</span></a>

            <div class="header-nav__content">
                <h3>Menu</h3>
                
                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll"  href="http://insitedf.com/" title="home">Início</a></li>
                    <li><a class="smoothscroll"  href="http://insitedf.com/#about" title="about">Sobre nós</a></li>
                    <li><a class="smoothscroll"  href="http://insitedf.com/#services" title="services">Serviços</a></li>
                    <li><a class="smoothscroll"  href="http://insitedf.com/#works" title="works">Portfolio</a></li>
                    <li><a class="smoothscroll"  href="http://insitedf.com/#contact" title="contact">Fale conosco</a></li>
                </ul>
    
                <ul class="header-nav__social">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <!--
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble"></i></a> -->
                    </li>
                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->