<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:locale" content="pt_BR">

<meta property="og:url" content="http://www.insitedf.com">

<meta property="og:title" content="{{ page.title }}">

<meta property="og:description" content="{{page.description}}">

<meta property="og:image" content="{{page.img}}">


<meta property="og:type" content="website">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="http://insitedf.com/blog/css/base.css">
    <link rel="stylesheet" href="http://insitedf.com/blog/css/vendor.css">
    <link rel="stylesheet" href="http://insitedf.com/blog/css/main.css">

    <!-- script
    ================================================== -->
    <script async src="http://insitedf.com/blog/js/modernizr.js"></script>
    <script async src="http://insitedf.com/blog/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="http://insitedf.com/blog/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://insitedf.com/blog/favicon.ico" type="image/x-icon">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112420251-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112420251-1');
</script>

</head>